.theme-light .tag {
  background-color:lavenderblush !important;
  color: darkred !important;
  border: solid !important;
  font-size: 0.85em !important;
  font-weight: 600 !important;
  padding: 1px 8px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  margin: 0px 0px !important;
  cursor: pointer !important;
  border-radius: 14px !important;
}

.theme-light .tag:hover {
	background-color:lavenderblush !important;
	color: darkred !important;
	border: solid !important;
	font-size: 0.85em !important;
	font-weight: 600 !important;
	padding: 1px 8px !important;
	text-align: center !important;
	text-decoration: none !important;
	display: inline-block !important;
	margin: 0px 0px !important;
	cursor: pointer !important;
	border-radius: 14px !important;

}

.theme-light .tag:before {
    background: darkred!important;
    width: 10px!important;
    height: 10px!important;
    content: ""!important;
    display: inline-block!important;
    border-radius: 20px!important;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2)!important;
    margin: 0 5px 0 0!important;
	transition: background 0.5s ease-out 200ms!important;
}

.theme-light .tag:after {
    background: darkred!important;
    width: 10px!important;
    height: 10px!important;
    content: ""!important;
    display: none!important;
    border-radius: 20px!important;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2)!important;
    margin: 0 5px!important;
} 


.theme-light .tag:hover:before { 
	background: lavenderblush!important;
    width: 0px!important;
    height: 0px!important;
	border-radius: 0px!important;
}

.theme-light .tag:hover:after { 
	display: inline-block!important;
}

.theme-dark .tag {
  background-color: PaleTurquoise !important;
  color:  black!important;
  border:2px solid!important;
  border-color:turquoise!important;
  font-size: 0.85em!important;
  font-weight: 600!important;
  padding: 1px 8px!important;
  text-align: center!important;
  text-decoration: none!important;
  display: inline-block!important;
  margin: 0px 0px!important;
  cursor: pointer!important;
  border-radius: 14px!important;
}


.theme-dark .tag:before {
    background: #000!important;
    width: 10px!important;
    height: 10px!important;
    content: ""!important;
    display: inline-block!important;
    border-radius: 20px!important;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2)!important;
    margin: 0 5px 0 0!important;
	transition: background 0.5s ease-out 200ms!important;
}

.theme-dark .tag:after {
    background: #000!important;
    width: 10px!important;
    height: 10px!important;
    content: ""!important;
    display: none!important;
    border-radius: 20px!important;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,0.2)!important;
    margin: 0 5px!important;
}

 
.theme-dark .tag:hover {
  background-color: PaleTurquoise !important;
  color:  black!important;
  border:2px solid!important;
  border-color:turquoise!important;
  font-size: 0.85em!important;
  font-weight: 600!important;
  padding: 1px 8px!important;
  text-align: center!important;
  text-decoration: none!important;
  display: inline-block!important;
  margin: 0px 0px!important;
  cursor: pointer!important;
  border-radius: 14px!important;
}

.theme-dark .tag:hover:before { 
	background: PaleTurquoise !important;
    width: 0px!important;
    height: 0px!important;
	border-radius: 0px!important;
}

.theme-dark .tag:hover:after { 
	display: inline-block!important;
}

